<ion-view sb-page-background
          class="cabride cabride-view cabride-my-rides">
    <ion-nav-title>{{ pageTitle }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button ng-click="refresh()"
                class="button button-clear header-item">
            <i class="icon ion-sb-refresh"></i>
        </button>

        <button ng-if="!isTaxiLayout()"
                ng-click="toggleRightMenu()"
                class="button button-clear header-item cabride toggle-taxi-menu">
            <i class="icon ion-sb-more"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-footer">
        <div ng-if="isLoading"
             class="loader">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div ng-if="!isLoading">
            <div ng-show="filtered.length == 0"
                 class="list">
                <div class="item item-custom text-center">
                    <span ng-if="filterName == 'in progress'">{{ "You have no rides in progress" | translate }}</span>
                    <span ng-if="filterName == 'archived'">{{ "You have no rides archived" | translate }}</span>
                </div>
            </div>

            <div ng-if="filtered.length > 0"
                 class="list">
                <div ng-repeat="request in filtered"
                     class="item item-custom item-course">
                    <div class="cabride-course">
                        <div class="course-image">
                            <img ng-src="{{ imagePath(request.static_image) }}" />
                        </div>
                        <div>
                            <div class="driver-photo">
                                <img src="" />
                            </div>
                            <span class="course-status {{ request.status }}">{{ request.status | translate }}</span>
                            <span ng-show="filterName != 'archived' && request.status == 'pending'"
                                  class="course-expiration {{ request.status }}">{{ "Expires" }} {{ expiration(request) }}</span>
                            <div class="row course-details">
                                <div class="col-75">
                                    <span class="vehicle-type">{{ request.type }}</span>
                                    <br />
                                    <span class="course-date">{{ calendar(request.timestamp) }}</span>
                                </div>
                                <div class="col-25 course-price">
                                    <span class="course-cost">{{ request.formatted_price }}</span>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-top">
        <a ng-click="statusFilter('inprogress')"
           class="tab-item">
            <i class="icon ion-clock"></i>
            {{ "In progress" | translate }}
        </a>
        <a ng-click="statusFilter('archives')"
           class="tab-item">
            <i class="icon ion-archive"></i>
            {{ "Archives" | translate }}
        </a>
    </div>
</ion-view>
