<ion-view sb-page-background
          class="cabride cabride-view cabride-payment-history">
    <ion-nav-title>{{ pageTitle }}</ion-nav-title>

    <ion-content class="has-footer">
        <div ng-if="isLoading"
             class="loader">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div ng-if="!isLoading">
            <div ng-show="filtered.length == 0"
                 class="list">
                <div class="item item-custom text-center">
                    <span ng-if="filterName == 'card-pending'">{{ "You have no card-pending" | translate }}</span>
                    <span ng-if="filterName == 'card-paid'">{{ "You have no card-paid" | translate }}</span>
                    <span ng-if="filterName == 'cash-pending'">{{ "You have no cash-pending" | translate }}</span>
                    <span ng-if="filterName == 'cash-returned'">{{ "You have no cash-returned" | translate }}</span>
                </div>
            </div>

            <div ng-if="filtered.length > 0"
                 class="list">
                <div ng-repeat="payment in filtered"
                     class="item item-custom item-course">
                    <div >
                        <div ng-if="filterName.indexOf('cash') == 0"
                             class="item item-custom item-icon-left">
                            <i class="icon">
                                <img src="./features/cabride/assets/templates/images/010-money.svg"
                                     style="height: 60%; margin-right: 15px;" />
                            </i>
                            <b>{{ "Cash" | translate }}</b>
                            <p>{{ "Total" }} {{ payment.amount }} €</p>
                            <p>{{ "Cash to return" }} {{ payment.commission_amount }} €</p>
                            <p>{{ "Payout" }} {{ payment.amount - payment.commission_amount }} €</p>
                        </div>

                        <div ng-if="filterName.indexOf('card') == 0"
                             class="item item-custom item-icon-left item-icon-right">
                            <i class="icon">
                                <img src="{{ creditCardBrand(payment.vault.brand) }}"
                                     style="height: 60%; margin-right: 15px;" />
                            </i>
                            <span class="saved-card">
                                <span class="last-star">**** **** **** ****</span>
                                <span class="exp"> - {{ payment.vault.exp }}</span>
                            </span>
                            <p>{{ "Total" }} {{ payment.amount }} €</p>
                            <p>{{ "Commission" }} {{ payment.commission_amount }} €</p>
                            <p>{{ "Payout" }} {{ payment.amount - payment.commission_amount }} €</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-top">
        <a ng-click="statusFilter('card-pending')"
           class="tab-item">
            <i class="icon ion-card"></i>
            {{ "Pending" | translate }}
        </a>
        <a ng-click="statusFilter('card-paid')"
           class="tab-item">
            <i class="icon ion-card"></i>
            {{ "Paid" | translate }}
        </a>
        <a ng-click="statusFilter('cash-pending')"
           class="tab-item">
            <i class="icon ion-cash"></i>
            {{ "Pending" | translate }}
        </a>
        <a ng-click="statusFilter('cash-returned')"
           class="tab-item">
            <i class="icon ion-cash"></i>
            {{ "Returned" | translate }}
        </a>
    </div>
</ion-view>
