<ion-view sb-page-background
          class="cabride cabride-view cabride-vehicle-information">
    <ion-nav-title>{{ pageTitle }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
        <button ng-click="refresh()"
                class="button button-clear header-item">
            <i class="icon ion-sb-refresh"></i>
        </button>

        <button ng-if="!isTaxiLayout()"
                ng-click="openMenu()"
                class="button button-clear header-item cabride toggle-taxi-menu">
            <i class="icon ion-sb-more"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-footer">
        <div ng-if="isLoading"
             class="loader">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <div ng-if="!isLoading && (!driver.hasVehicle || changingType)"
             class="list">

            <div style="margin-bottom: 20px;"></div>

            <div class="item item-divider item-divider-custom text-center">
                {{ ::'Please select a vehicle type' | translate:'cabride' }}
            </div>

            <div ng-click="selectType(type)"
                 ng-repeat="type in vehicleTypes">
                <div style="border-bottom: 0 !important;"
                     class="item item-custom item-thumbnail-left item-icon-right vehicle-type">
                    <img ng-src="{{ imagePath(type.icon) }}"/>
                    <h2 class="vehicle-type-title">{{ type.label }}</h2>
                    <i class="icon ion-chevron-right"></i>
                </div>
                <div ng-if="showFixedPricing()"
                     style="border-top: 0 !important;"
                     class="item item-custom">
                    <div class="row">
                        <div class="col-40"></div>
                        <div class="text-center"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            <b>{{ ::'Course' | translate:'cabride' }}</b>
                        </div>
                        <div ng-if="tourEnabled()"
                             class="col-30 text-center">
                            <b>{{ ::'Tour' | translate:'cabride' }}</b>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Base' | translate:'cabride' }}
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.baseFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            {{ type.tourBaseFare }}
                        </div>
                    </div>

                    <div class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Distance' | translate:'cabride' }}
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.distanceFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            -
                        </div>
                    </div>

                    <div class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Time' | translate:'cabride' }} <i>({{ ::'Every minute' | translate:'cabride' }})</i>
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.timeFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            {{ type.tourTimeFare }}
                        </div>
                    </div>

                    <div ng-if="seatsEnabled()"
                         class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Extra seat' | translate:'cabride' }}
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.extraSeatFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            {{ type.tourExtraSeatBaseFare }}
                        </div>
                    </div>

                    <div ng-if="seatsEnabled()"
                         class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Extra seat distance' | translate:'cabride' }}
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.extraSeatDistanceFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            -
                        </div>
                    </div>

                    <div ng-if="seatsEnabled()"
                         class="row">
                        <!-- Course base fare -->
                        <div class="col-40">
                            {{ ::'Extra seat time' | translate:'cabride' }} <i>({{ ::'Every minute' | translate:'cabride' }})</i>
                        </div>

                        <div class="text-right"
                             ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                            {{ type.extraSeatTimeFare }}
                        </div>

                        <!-- Tour base fare -->
                        <div ng-if="tourEnabled()"
                             class="col-30 text-right">
                            {{ type.tourExtraSeatTimeFare }}
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 20px;"></div>
        </div>

        <div ng-if="!isLoading && (driver.hasVehicle && !changingType)"
             class="list">

            <div class="item item-custom item item-thumbnail-left item-button-right vehicle-type">
                <img ng-src="{{ imagePath(currentType.icon) }}"/>
                <h2 class="vehicle-type-title">{{ currentType.label }}</h2>
                <button ng-click="changeType()"
                        class="change-type button button-small button-positive button-positive-custom">
                    {{ ::'Change type' | translate:'cabride' }}
                </button>
            </div>

            <div ng-if="showFixedPricing()"
                 class="item item-custom">
                <div class="row">
                    <div class="col-40"></div>
                    <div class="text-center"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        <b>{{ ::'Course' | translate:'cabride' }}</b>
                    </div>
                    <div ng-if="tourEnabled()"
                         class="col-30 text-center">
                        <b>{{ ::'Tour' | translate:'cabride' }}</b>
                    </div>
                </div>

                <div class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Base' | translate:'cabride' }}
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.baseFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        {{ currentType.tourBaseFare }}
                    </div>
                </div>

                <div class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Distance' | translate:'cabride' }}
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.distanceFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        -
                    </div>
                </div>

                <div class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Time' | translate:'cabride' }} <i>({{ ::'Every minute' | translate:'cabride' }})</i>
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.timeFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        {{ currentType.tourTimeFare }}
                    </div>
                </div>

                <div ng-if="seatsEnabled()"
                     class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Extra seat' | translate:'cabride' }}
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.extraSeatFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        {{ currentType.tourExtraSeatBaseFare }}
                    </div>
                </div>

                <div ng-if="seatsEnabled()"
                     class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Extra seat distance' | translate:'cabride' }}
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.extraSeatDistanceFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        -
                    </div>
                </div>

                <div ng-if="seatsEnabled()"
                     class="row">
                    <!-- Course base fare -->
                    <div class="col-40">
                        {{ ::'Extra seat time' | translate:'cabride' }} <i>({{ ::'Every minute' | translate:'cabride' }})</i>
                    </div>

                    <div class="text-right"
                         ng-class="{'col-30': tourEnabled(), 'col-60': !tourEnabled()}">
                        {{ currentType.extraSeatTimeFare }}
                    </div>

                    <!-- Tour base fare -->
                    <div ng-if="tourEnabled()"
                         class="col-30 text-right">
                        {{ currentType.tourExtraSeatTimeFare }}
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 20px;"></div>

            <label class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::'Mobile number' | translate:'cabride' }} *</b>
                </div>
                <input class="text-right"
                       type="text"
                       required="required"
                       placeholder="{{ ::'Mobile number' | translate:'cabride' }}"
                       ng-model="driver.driver_phone"/>
            </label>

            <div style="margin-bottom: 20px;"></div>

            <label class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::"Model" | translate:"cabride" }}</b>
                </div>
                <input class="text-right"
                       type="text"
                       placeholder="{{ ::'Model' | translate:'cabride' }}"
                       ng-model="driver.vehicle_model"/>
            </label>

            <label class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::"License plate" | translate:"cabride" }} *</b>
                </div>
                <input class="text-right"
                       type="text"
                       required="required"
                       placeholder="{{ ::'License plate' | translate:'cabride' }}"
                       ng-model="driver.vehicle_license_plate"/>
            </label>

            <label class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::"Driving license" | translate:"cabride" }} *</b>
                </div>
                <input class="text-right"
                       type="text"
                       required="required"
                       placeholder="{{ ::'Driving license' | translate:'cabride' }}"
                       ng-model="driver.driver_license"/>
            </label>

            <label ng-if="seatsEnabled()"
                   class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::"Number of seats" | translate:"cabride" }} *</b>
                </div>
                <input class="text-right"
                       type="text"
                       required="required"
                       placeholder="{{ ::'Number of seats' | translate:'cabride' }}"
                       ng-model="driver.seats"/>
            </label>

            <label class="item item-input item-custom item-stacked-label">
                <div class="input-label">
                    <b>{{ ::"Base address" | translate:"cabride" }}</b>
                </div>
                <textarea rows="3"
                          ng-model="driver.base_address"></textarea>
            </label>

            <label class="item item-input item-custom">
                <div class="input-label">
                    <b>{{ ::"Pickup radius" | translate:"cabride" }} ({{ distanceUnit() }})</b>
                </div>
                <input class="text-right"
                       type="number"
                       min="0"
                       max="100"
                       step="1"
                       ng-model="driver.pickup_radius"/>
            </label>

            <div ng-if="pricingDriver()">

                <div style="margin-bottom: 20px;"></div>

                <div class="item item-divider item-divider-custom text-center">
                    <h2>{{ ::"Commission fares" | translate:"cabride" }}</h2>
                </div>

                <div class="item item-custom"
                     style="white-space: normal;">
                    <p>{{ ::"Commission rates applied by your provider." | translate:"cabride" }}</p>
                    <p>
                        <span ng-if="settings.commission_fixed > 0">{{ ::"Fixed fare" | translate:"cabride" }}: {{ settings.commission_fixed_fmt }}</span>
                        <span ng-if="settings.commission_type == 'mixed'"
                              style="margin: 0 10px; font-size: 16px; font-weight: bold;">{{ ::"+" | translate:"cabride" }}</span>
                        <span ng-if="settings.commission > 0">{{ ::"Percentage" | translate:"cabride" }}: {{ settings.commission }} %</span>
                    </p>
                </div>



                <div>
                    <div style="margin-bottom: 20px;"></div>

                    <div class="item item-divider item-divider-custom text-center">
                        <h2>{{ ::"Course fares" | translate:"cabride" }}</h2>
                    </div>

                    <label class="item item-input item-custom">
                        <div class="input-label">
                            <b>{{ ::"Base" | translate:"cabride" }} *</b>
                        </div>
                        <input class="text-right"
                               type="number"
                               min="0"
                               max="100000000"
                               step="0.01"
                               ng-model="driver.base_fare"/>
                    </label>

                    <label class="item item-input item-custom">
                        <div class="input-label">
                            <b>{{ ::"Distance (every km/mi)" | translate:"cabride" }} *</b>
                        </div>
                        <input class="text-right"
                               type="number"
                               min="0"
                               max="100000000"
                               step="0.01"
                               ng-model="driver.distance_fare"/>
                    </label>

                    <label class="item item-input item-custom">
                        <div class="input-label">
                            <b>{{ ::"Time (every minute)" | translate:"cabride" }} *</b>
                        </div>
                        <input class="text-right"
                               type="number"
                               min="0"
                               max="100000000"
                               step="0.01"
                               ng-model="driver.time_fare"/>
                    </label>

                    <div ng-if="seatsEnabled()">
                        <label class="item item-input item-custom">
                            <div class="input-label">
                                <b>{{ ::"Extra seat" | translate:"cabride" }} *</b>
                            </div>
                            <input class="text-right"
                                   type="number"
                                   min="0"
                                   max="100000000"
                                   step="0.01"
                                   ng-model="driver.extra_seat_fare"/>
                        </label>

                        <label class="item item-input item-custom">
                            <div class="input-label">
                                <b>{{ ::"Extra seat distance (every km/mi)" | translate:"cabride" }} *</b>
                            </div>
                            <input class="text-right"
                                   type="number"
                                   min="0"
                                   max="100000000"
                                   step="0.01"
                                   ng-model="driver.seat_distance_fare"/>
                        </label>

                        <label class="item item-input item-custom">
                            <div class="input-label">
                                <b>{{ ::"Extra seat time (every minute)" | translate:"cabride" }} *</b>
                            </div>
                            <input class="text-right"
                                   type="number"
                                   min="0"
                                   max="100000000"
                                   step="0.01"
                                   ng-model="driver.seat_time_fare"/>
                        </label>
                    </div>
                </div>

                <div ng-if="tourEnabled()">
                    <div style="margin-bottom: 20px;"></div>

                    <div class="item item-divider item-divider-custom text-center">
                        <h2>{{ ::"Tour fares" | translate:"cabride" }}</h2>
                    </div>

                    <label class="item item-input item-custom">
                        <div class="input-label">
                            <b>{{ ::"Base" | translate:"cabride" }} *</b>
                        </div>
                        <input class="text-right"
                               type="number"
                               min="0"
                               max="100000000"
                               step="0.01"
                               ng-model="driver.tour_base_fare"/>
                    </label>

                    <label class="item item-input item-custom">
                        <div class="input-label">
                            <b>{{ ::"Time (every minute)" | translate:"cabride" }} *</b>
                        </div>
                        <input class="text-right"
                               type="number"
                               min="0"
                               max="100000000"
                               step="0.01"
                               ng-model="driver.tour_time_fare"/>
                    </label>

                    <div ng-if="seatsEnabled()">
                        <label class="item item-input item-custom">
                            <div class="input-label">
                                <b>{{ ::"Extra seat" | translate:"cabride" }} *</b>
                            </div>
                            <input class="text-right"
                                   type="number"
                                   min="0"
                                   max="100000000"
                                   step="0.01"
                                   ng-model="driver.extra_seat_tour_base_fare"/>
                        </label>

                        <label class="item item-input item-custom">
                            <div class="input-label">
                                <b>{{ ::"Extra seat time (every minute)" | translate:"cabride" }} *</b>
                            </div>
                            <input class="text-right"
                                   type="number"
                                   min="0"
                                   max="100000000"
                                   step="0.01"
                                   ng-model="driver.extra_seat_tour_time_fare"/>
                        </label>
                    </div>
                </div>
            </div>

            <div style="margin-bottom: 20px;"></div>

        </div>
    </ion-content>

    <div class="tabs">
        <button ng-if="!changingType"
                ng-click="save()"
                style="margin: -1px; text-transform: uppercase;"
                class="button button-full button-positive button-positive-custom">
            {{ ::"Save" | translate:"cabride" }}
        </button>

        <button ng-if="changingType && driver.hasVehicle"
                ng-click="cancelType()"
                style="margin: -1px; text-transform: uppercase;"
                class="button button-full button-assertive button-assertive-custom">
            {{ ::"Cancel" | translate:"cabride" }}
        </button>
    </div>
</ion-view>
