<ion-modal-view sb-page-background
                ng-controller="CabridePaymentType"
                class="cabride cabride-model-vehicle">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="close()">
                <i class="icon ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{ ::"Select a payment method" | translate:"cabride" }}</h1>
    </ion-header-bar>

    <ion-content>
        <div ng-if="!hasPaymentType"
             class="list list-item">

            <div ng-if="['credit-card', 'all'].indexOf(settings.acceptedPayments)">
                <payment-stripe form-is-open="false"
                                options="stripeOptions"
                                cards-options="stripeCardsOptions"
                                form-options="stripeFormOptions"></payment-stripe>
            </div>

            <div style="margin-bottom: 20px;"></div>

            <div ng-if="['cash', 'all'].indexOf(settings.acceptedPayments)"
                 ng-click="select('cash');"
                 class="item item-custom item-icon-left item-icon-right">
                <i class="icon">
                    <img src="./features/cabride/assets/templates/images/010-money.svg"
                         style="height: 60%; margin-right: 15px;" />
                </i>
                <b>{{ ::"Pay with cash" | translate:"cabride" }}</b>
                <i class="icon ion-android-arrow-forward"></i>
            </div>
        </div>



    </ion-content>
</ion-modal-view>
