<ion-modal-view sb-page-background
                class="cabride cabride-model-vehicle">

    <ion-header-bar class="bar-custom">
        <div class="buttons">
            <button class="button button-clear"
                    ng-click="close()">
                <i class="icon ion-sb-close-modal"></i>
            </button>
        </div>
        <h1 class="title">{{ "Select a vehicle type" | translate:"cabride" }}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list list-item">
            <div ng-repeat="(vehicleId, vehicleType) in vehicles"
                 ng-click="select(vehicleType)"
                 class="item item-custom item item-thumbnail-left vehicle-type">
                <img ng-src="{{ imagePath(vehicleType.icon) }}" />
                <h2 class="vehicle-type-title">{{ vehicleType.type }}</h2>
                <p class="default-fares">
                    <span ng-if="vehicleType.lowPricing != vehicleType.pricing">
                        {{ "Est." | translate:"cabride" }} {{ vehicleType.lowPricing }} - {{ vehicleType.pricing }}
                    </span>
                    <span ng-if="vehicleType.lowPricing == vehicleType.pricing">
                        {{ "Est." | translate:"cabride" }} {{ vehicleType.pricing }}
                    </span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
