<div class="item item-custom item-course">
    <div class="cabride-course">
        <div class="course-image">
            <img ng-src="{{ imagePath(request.static_image) }}" />
        </div>
        <div>
            <span class="course-status {{ request.driver_status }}">{{ request.driver_status | translate:'cabride' }}</span>

            <span ng-show="request.driver_status == 'aborted'"
                  class="course-expiration {{ request.driver_status }}">{{ reason(request) }}</span>

            <span ng-if="request.course_rating > 0"
                  class="course-rating {{ request.status }}">
                <i class="icon icon-rate-list {{ getRatingIcon(request, 1) }}"></i>
                <i class="icon icon-rate-list {{ getRatingIcon(request, 2) }}"></i>
                <i class="icon icon-rate-list {{ getRatingIcon(request, 3) }}"></i>
                <i class="icon icon-rate-list {{ getRatingIcon(request, 4) }}"></i>
                <i class="icon icon-rate-list {{ getRatingIcon(request, 5) }}"></i>
            </span>

            <div ng-if="request.type == 'course'"
                 class="row course-details">
                <div class="col-75">
                    <span class="vehicle-type">{{ request.from_address }}</span>
                    <br />
                    <span class="course-date">{{ request.to_address }}</span>
                    <br />
                    {{ ::'Course' | translate:'cabride' }}
                    <span ng-if="seatsEnabled()">
                        <i class="icon ion-person-stalker"
                           style="margin-left: 10px; margin-right: 10px;"></i>{{ request.seats }} {{ textSeats(request.seats) }}
                    </span>
                </div>
                <div class="col-25 text-right">
                    <span ng-if="request.custom_offer == '1'">
                        <span class="vehicle-type">{{ "Offer" | translate:'cabride' }}</span>
                        <br />
                        <span class="course-date">
                            <span class="course-cost">{{ request.formatted_cost }}</span>
                        </span>
                    </span>

                    <span ng-if="request.custom_offer == '0'">
                        <span class="vehicle-type">{{ request.formatted_price }}</span>
                        <br />
                        <span>&nbsp;</span>
                    </span>

                    <br />
                    <span class="course-date">{{ distance(request) }}</span>
                </div>
            </div>

            <div ng-if="request.type == 'tour'"
                 class="row course-details">
                <div class="col-75">
                    <span class="course-date">
                        <span>{{ ::'Tour' | translate:'cabride' }}</span>
                        <span ng-if="seatsEnabled()">
                            <i class="icon ion-person-stalker"
                               style="margin-left: 10px; margin-right: 10px;"></i>{{ request.seats }} {{ textSeats(request.seats) }}
                        </span>
                    </span>
                    <br />
                    <span class="vehicle-type">{{ request.from_address }}</span>
                </div>
                <div class="col-25 text-right">
                    <span class="course-date">
                        <i class="icon ion-clock"
                           style="margin-right: 5px;"></i>
                        {{ durationTour(request) }}
                    </span>

                    <br />

                    <span ng-if="request.custom_offer == '1'">
                        <span class="vehicle-type">{{ "Offer" }}</span>
                        <br />
                        <span class="course-date">
                            <span class="course-cost">{{ request.formatted_cost }}</span>
                        </span>
                    </span>

                    <span ng-if="request.custom_offer == '0'">
                        <span class="vehicle-type">{{ request.formatted_price }}</span>
                    </span>

                </div>
            </div>
        </div>
        <div ng-include="'./features/cabride/assets/templates/l1/actions/driver-'+ request.status +'.html'"></div>
    </div>
</div>